<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academic Word List</title>
    <!-- CSS only -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap5.min.css" rel="stylesheet">
    <link href="/css/bootstrap5-grid.min.css" rel="stylesheet">
<!--    <script src="/js/bootstrap5.min.js" ></script>-->
    <script src="/js/bootstrap5.bundle.min.js"></script>

    <script src="https://unpkg.com/vue@next"></script>
    <style>
        #left-column{height: 80vh;overflow-y: scroll;}
        ul.word-list {height1: 80vh; width: 100%; list-style: none;}
        #content1{height: 80vh; margin-top: 6vh;padding: 0.5em;}
        /*#content > div{width: 100%;}*/
        /*#meanings{width: 100%; overflow-y: scroll;border: 2px solid darkred;background: lightblue;padding: 0.5em;}*/
        #definition, .examples{overflow-y: scroll; padding: .5em; border-style: ridge; border-width: 0.3em; border-radius: 0.5em; background1: lightyellow;}
        #definition{max-height: 30vh;}
        .examples {max-height: 50vh;}
        #all div:nth-child(n+11) {display: none;}
        span.delete{text-decoration: line-through;}
        span.current{background: #4cae4c; color: whitesmoke;}
        span.phonetic {padding-right: 1em;}
        span.partOfSpeech {color: darkred;}
        .synonyms {color: darkcyan;}
        .reference{text-align: right;font-size:.8em; font-style: italic;}
        em{font-style: normal; background: yellow;}
        .example {font-style: italic;text-decoration: underline;}
        audio{display: none;}
        .play-btn{width: 1em; height: 1em;}
        .play-btn:hover{width: 1.1em; height: 1.1em;}
        .examples .play-btn{margin-top: 5px;margin-right: 5px;}
    </style>
</head>
<body id="app" >

<header>
    <h1>Academic Word List exercise</h1>
    <span>The Academic Word List (AWL) is a list of 570 of the most common academic words found in academic texts. Below is the full word list.</span>

    <button @click="click_autoplay" class="btn btn-sm float-lg-end ms-3" :class="autoplay ? 'btn-info' : 'btn-primary'">{{autoplay ? "Disable" : "Enable"}} Autoplay</button>
    <button @click="click_showtrans" class="btn btn-sm float-lg-end" :class="show_trans ? 'btn-info' : 'btn-primary'">{{show_trans ? "Hide" : "Show"}} Translation</button>
    <div class="clearfix"></div>
</header>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <ul class="nav nav-tabs" id="words-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">AWL</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Mastered</button>
                </li>
            </ul>
            <div class="tab-content border-start border-bottom border-end rounded-bottom" id="left-column">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <ul class="word-list">
                        <template v-for="(word, i) in awl">
                            <li v-if="mastered_words.indexOf(word) < 0">
                                <input type="checkbox" :value="word" v-model="mastered_words" @change="checkword(word)"> &nbsp;
                                {{i+1}}.&nbsp;
                                <span :class="word + (mastered_words.indexOf(word) > -1 ? ' delete' : '')" @click="clickword(word)">{{word}}</span>
                                <hr v-if="(i+1) % 10 == 0">
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <ul class="word-list">
                        <template v-for="(word, i) in awl">
                            <li v-if="mastered_words.indexOf(word) >= 0">
                                <input type="checkbox" :value="word" v-model="mastered_words" @change="checkword(word)"> &nbsp;
                                {{i+1}}.&nbsp;
                                <span :class="word + (mastered_words.indexOf(word) > -1 ? ' delete' : '')" @click="clickword(word)">{{word}}</span>
                                <hr v-if="(i+1) % 10 == 0">
                            </li>
                        </template>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-9 " id="content" >
            {{current_word}} <img src="/img/music-32.png" alt="" class="play-btn" @click="word_play">
            <audio id="word-audio" controls :src="word_audio_url" :autoplay="autoplay">
            </audio>
            <div class="row" id="definition">
                <div v-html="word_meanings" :class="show_trans ? 'col-7 ' : 'col-12 '"></div>
                <div v-html="trans_meanings" class="col-5 border-start" v-if="show_trans"></div>
            </div>
            <div class="m-1">
                Examples:
            </div>
            <div class="row examples">
                <div :class="show_trans ? 'col-7 ' : 'col-12 '">
                    <div v-for="(sentence, i) in examples_en">
                        <template v-if="i<10">
                            <img src="/img/music-32.png" class="float-start play-btn" @click="sentence_play(sentence.textContent)">
                            <div class="clearfix" v-html="sentence.innerHTML"></div>
                        </template>
                    </div>
                    <audio id="sentence-audio" controls :src="sentence_audio_url" :autoplay="autoplay">
                    </audio>
                </div>
                <div v-html="trans_html" class="col-5 border-start" v-if="show_trans"></div>
            </div>
        </div>
    </div>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const Counter = {
        data() {
            return {
                counter: 0,
                current_word: null,
                current_sentence: "",
                awl: [],
                // word_html: null,
                examples_en: [],
                word_meanings: null,
                trans_meanings: null,
                trans_html: null,
                show_trans: true,
                autoplay: true,
                mastered_words: []
            }
        },
        mounted() {
            // this.awl = AWL
            // this.current_word = AWL[0]
            that = this
            axios.get("/awl/awl.json").then(function(res) {
                that.awl = res.data
                that.current_word = that.awl[0]
                that.clickword(that.current_word)
            })

            const triggerTabList = document.querySelectorAll('#words-tab button')
            triggerTabList.forEach(triggerEl => {
                const tabTrigger = new bootstrap.Tab(triggerEl)

                triggerEl.addEventListener('click', event => {
                    event.preventDefault()
                    tabTrigger.show()
                })
            })

            if (words = window.localStorage.getItem("mastered_words")){
                this.mastered_words = words.split(',')
            }
        },
        methods: {
            click_showtrans() {
                this.show_trans = !this.show_trans
            },
            click_autoplay(){
                this.autoplay = !this.autoplay
            },
            clickword (word){
                console.log("you click word: "+word)
                this.current_word = word
                document.querySelectorAll('.current').forEach(span => {
                    span.classList.remove('current')
                })
                document.querySelectorAll('.'+word).forEach(span => {
                    span.classList.add("current")
                })

                that = this
                axios.get("/awl/dict/en/"+word+".html").then(function(res) {
                    that.word_meanings = res.data + "<div class='reference'><a href='https://dictionaryapi.dev/' target='_blank'>https://dictionaryapi.dev/</a> provide data</div>";
                })
                axios.get("/awl/dict/zh-CN/"+word+".html").then(function(res) {
                    that.trans_meanings = res.data
                })

                axios.get("/awl/example/en/"+word+".html").then(function(res) {
                    var parser = new DOMParser();
                    var doc = parser.parseFromString(res.data, "text/html");
                    var divs = doc.getElementsByTagName("div");
                    that.examples_en = [];
                    for (var i=0; i< divs.length; i++) {
                        if (divs[i].id == 'all') continue;
                        that.examples_en.push(divs[i]);
                    }
                    // that.word_html = res.data + "<div  class='reference'><a href='https://sentencedict.com/' target='_blank'>https://sentencedict.com/</a> provide data</div>";
                })
                axios.get("/awl/example/zh-CN/"+word+".html").then(function(res) {
                    that.trans_html = res.data
                })
            },
            checkword (word) {
                window.localStorage.setItem("mastered_words", this.mastered_words.toString())
            },
            word_play(){
                document.getElementById('word-audio').play()
            },
            sentence_play(text){
                this.current_sentence = text
                document.getElementById("sentence-audio").play()
            }
        },
        computed: {
            sentense_url: function(){
                return "https://sentencedict.com/"+this.current_word+".html"
            },
            word_audio_url: function(){
                return 'https://dict.youdao.com/dictvoice?type=1&audio=' + this.current_word
            },
            sentence_audio_url: function(){
                return 'https://dict.youdao.com/dictvoice?type=1&audio=' + this.current_sentence.replace(/\s*(\n)?\s*\d+\.\s+/, "").replace(/\s*(\n)?\s*$/,"")
            }
        }
    }

    Vue.createApp(Counter).mount('#app')
</script>
</body>
</html>
